<html>
<head>
	<title>New York Airbnb Listings DASHBOARD</title>
	<script src='https://d3js.org/d3.v4.min.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style type="text/css">
		.line {
		  fill: none;
		  stroke: steelblue;
		  stroke-width: 2px;
		}
	</style>
</head> 
<body>
    
    <h1 align="center"> NYC AIRBNB LISTINGS</h1>

	<div id="main">
		<div id="left" >
			<div id="left-top"></div>
			<div id="left-bottom"></div>
		</div>

		<div id="mid" >
			<div id="mid-top"></div>
			<div id="mid-bottom"></div>
		</div>

		<div id="right" >
			<div id="right-top"></div>
			<div id="right-bottom"></div>
		</div>
	</div>

	<script src="{{url_for('static', filename='js/index.js')}}"></script>
	<script src="{{url_for('static', filename='js/style.js')}}"></script>
	<script src="{{url_for('static', filename='js/map.js')}}"></script>
	<script src="{{url_for('static', filename='js/BuroughBar.js')}}"></script>
	<script src="{{url_for('static', filename='js/line.js')}}"></script>
</body>

</html>